{% extends "lecturer_layout.html" %} {% block main %}
    <form id="send-message" action="send_lecturer" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                <table class="table borderless">
                    <tr>
                        <td class="text-right" width="100px">Temat:</td>
                        <td><input name="temat" type="text"/></td>
                        <td rowspan="2" width="100px"><button type="submit" class="btn btn-success">Wyślij</button></td>
                    </tr>
                    <tr>
                        <td class="text-right" width="100px">Adresat:</td>
                        <td><input name="email" type="email"/></td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <textarea name="tresc" rows="10" style="width: 100%">

                </textarea>
            </div>
        </div>
    </form>
{% endblock %}