{% extends "main_layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.css">
</head>
<body>
<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <!--
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="#">Wirtualny dziekanat</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">Profil</a>
                </li>
                <li><a href="#">Postęp prac</a>
                </li>
                <li><a href="#">Wiadomości</a>
                </li>
                <li><a href="#">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
    -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">Profil</ul>
                    <ul class="nav navbar-nav">Postęp prac</ul>
                    <ul class="nav navbar-nav">Widamości</ul>
                    <ul class="nav navbar-nav">Wyloguj</ul>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>